<button (click)="this.http.sendMessage('0ledCp')">led on</button>

<div class="chart-display">
    
            <mat-card >
                <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSourceBazsi">
                </fusioncharts>
            </mat-card>
            <mat-card>
                <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSourceTomi">
                </fusioncharts>
            </mat-card>
            <mat-card>
                <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSourceGabi">
                </fusioncharts>
            </mat-card>
</div>

