<button (click)="this.http.sendMessage('0ledCp')">led on</button>

<div class="chart-display">
    
            <mat-card >
                <fusioncharts class="gauge"
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSource">
                </fusioncharts>
                
                <canvas id="bar_bazsi"></canvas>

                <label>Temp: {{this.charts.tempBazsiMin}}</label>
                <mat-slider class="slider"
                (change)="updateSetting($event)"
                [(ngModel)]="this.charts.tempBazsiMin"
                min="16" 
                max="26" 
                step="0.5"
                thumbLabel=true
                vertical=false
                >
                </mat-slider>
            </mat-card>
            <mat-card>
                <canvas id="bar_tomi"></canvas>
            </mat-card>
            <mat-card>
                <canvas id="bar_gabi"></canvas>
            </mat-card>
</div>

