<button (click)="this.http.sendMessage('0ledCp')">led on</button>
<button (click)="this.http.sendMessage('Bazsi,setTemp,26')">Set temp Bazsi</button>
<button (click)="this.http.sendMessage('Tomi,setTemp,22')">Set temp Tomi</button>
<button (click)="this.http.sendMessage('Gabi,setTemp,22')">Set temp Gabi</button>

<div class="chart-display">
    <div style="width: 50%; position: absolute;left: 0px;">
        <div style="width: 100%;">
            <canvas id="bar"></canvas>
        </div>
        <div style="width: 100%;">
            <canvas id="bar_tomi"></canvas>
        </div>
        <div style="width: 100%;">
            <canvas id="bar_gabi"></canvas>
        </div>
    </div>
</div>

