<!-- <h1>App Html</h1> -->
<!-- <button (click)="sendMessage('0ledCp')">led on</button>
<div class="chart-display">
    <div style="width: 50%; position: absolute;left: 0px;">
        <div style="width: 100%;">
            <canvas id="bar"></canvas>
        </div>
        
        <div style="width: 100%;">
            <canvas id="bubble"></canvas>
        </div>

    </div>
    <div style="width: 50%;position:absolute; right: 0px;">

        <div style="width: 50%;">
            <canvas id="doughnut"></canvas>
        </div>
        
        <div style="width: 50%;">
            <canvas id="pie"></canvas>
        </div>
    </div>
    

</div> -->

<!-- <app-main></app-main> -->
<nav>
    <a routerLink="/bazsi" routerLinkActive="active">Bazsi szoba</a>

</nav>

<router-outlet></router-outlet>

<!-- 
<mat-card class="example-result-card">
    <mat-card-content>
      <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
        <label id="example-name-label" class="example-name-label">Max Value</label>
        <label class="example-value-label">{{value}}</label>
      </div>
      <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="getSliderTickInterval()"
          [(ngModel)]="value"
          [vertical]="vertical"
          aria-labelledby="example-name-label">
      </mat-slider>
    </mat-card-content>
  </mat-card> -->