<!-- <h1>App Html</h1> -->
<!-- <button (click)="sendMessage('0ledCp')">led on</button>
<div class="chart-display">
    <div style="width: 50%; position: absolute;left: 0px;">
        <div style="width: 100%;">
            <canvas id="bar"></canvas>
        </div>
        
        <div style="width: 100%;">
            <canvas id="bubble"></canvas>
        </div>

    </div>
    <div style="width: 50%;position:absolute; right: 0px;">

        <div style="width: 50%;">
            <canvas id="doughnut"></canvas>
        </div>
        
        <div style="width: 50%;">
            <canvas id="pie"></canvas>
        </div>
    </div>
    

</div> -->

<!-- <app-main></app-main> -->

<nav>
    <a routerLink="/bazsi" routerLinkActive="active">Bazsi szoba</a>

</nav>

<router-outlet></router-outlet>
